Hi {{.Name}},

{{if .IsRSVPed}}You have RSVPed to attend this month's Go meetup happening this Saturday. We are excited to have you!

In case you change your mind or something has come up please let us know...

We encourage you to share and post about the experience. Please use the hashtag: "#ChennaiGoMeetup #ChnGoFeb2020" during the event. Tweet link: https://twitter.com/intent/tweet?hashtags=ChennaiGoMeetup%2C+ChnGoFeb2020&url=https%3A%2F%2Fwww.meetup.com%2FChennai-golang-Meetup%2Fevents%2F268418851%2F&text=I+am+attending+this+month%27s+Go+meetup+happening+%40+IIT+Madras+Research+Park
{{else}}Thank you for attending one of our previous meetups. We would like to have you in the upcoming meetup as well.{{end}}

This month's meetup is at IIT Madras Research Park: https://goo.gl/maps/DVR26vHGhxV15Sst7. You can checkout the meetup page for more info: https://www.meetup.com/Chennai-golang-Meetup/events/268418851/.

We have some goodies lined up along with some interesting talks. Hang around after for networking.

Find us on,

Meetup: https://www.meetup.com/Chennai-golang-Meetup
YouTube: https://www.youtube.com/channel/UC2VJY13gO3Q_UcxlLApFmcw

Regards,

Gaurav Agarwal (@algogrit)
Community Manager,
Chennai Gophers

P.S. Reply unsubscribe to this email, if you don't wish to receive more of such mails.
