Hi {{.Name}},

{{if .IsRSVPed}}You have RSVPed to attend this month's Go meetup happening this Saturday. We are excited to have you!

In case you change your mind or something has come up please let us know...

We encourage you to share and post about the experience. Please use the hashtag: "#ChennaiGoMeetup #ChnGoSept2020" during the event. Tweet link: https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.meetup.com%2FChennai-golang-Meetup%2Fevents%2F272907625%2F&hashtags=ChennaiGoMeetup%2C+ChnGoSept2020&text=I+am+attending+this+month%27s+Remote+Go+meetup
{{else}}Thank you for attending one of our previous meetups. We would like to have you in the upcoming meetup as well.{{end}}

We have a remote meetup this month owing to the COVID'19 situation. You can checkout the meetup page for more info: https://www.meetup.com/Chennai-golang-Meetup/events/272907625/.

We have some interesting talks on security & structuring Go applications. Hang around after for networking.

Find us on,

Meetup: https://www.meetup.com/Chennai-golang-Meetup
YouTube: https://www.youtube.com/channel/UC2VJY13gO3Q_UcxlLApFmcw

Regards,

Gaurav Agarwal (@algogrit)
Community Manager,
Chennai Gophers

P.S. Reply "unsubscribe" to this email, if you don't wish to receive more of such mails.
