Hi {{.Name}},

We are excited to have you at this month's Go meetup happening tomorrow. We would be starting with talks @ 10 AM.

This month's meetup is at IIT Madras Research Park: https://goo.gl/maps/DVR26vHGhxV15Sst7 . You can checkout the meetup page for more info: https://www.meetup.com/Chennai-golang-Meetup/events/268418851/ .

We would like if you tweet or share on LinkedIn with the #ChennaiGoMeetup and #ChnGoFeb2020 during the event.

Plan accordingly and do come in early for extra goodness. In case of any trouble, feel free to reply to this mail or you can reach me on +91 86681 40137.

Regards,

Gaurav Agarwal (@algogrit)
Community Manager,
Chennai Gophers

P.S. Reply "unsubscribe" to this email, if you don't wish to receive more of such mails.
