Hi {{.Name}},

We are excited to have you at this month's Go meetup happening tomorrow. We would be starting with talks @ 10 AM.

You can checkout the meetup page for more info: https://www.meetup.com/Chennai-golang-Meetup/events/272907625/.

We would like if you tweet or share on LinkedIn with the #ChennaiGoMeetup and #ChnGoSept2020 during the event.

In case of any trouble joining, feel free to reply to this mail or you can reach me on +91 86681 40137.

If you would like to speak at one of our upcoming meetups do let us know!

Regards,

Gaurav Agarwal (@algogrit)
Community Manager,
Chennai Gophers

P.S. Reply "unsubscribe" to this email, if you don't wish to receive more of such mails.
