Hi {{.Name}},

We are excited to have you at Go's 10th anniversary celebration happening tomorrow. We would be starting with talks @ 10 AM, followed by celebrations and then workshop. If you are planning on attending the workshops alone, that's fine too.

Location: Qube Cinemas, Mylapore (Here's a google maps link: https://goo.gl/maps/qHCsggE8X7xae1cA6)

We would like if you tweet or share on LinkedIn with the #ChnGoTurns10 and #GoTurns10 during the event.

Plan accordingly and do come in early for extra goodness. In case of any trouble, feel free to reply to this mail or you can reach me on +91 86681 40137.

Regards,

Gaurav Agarwal (@algogrit)
Community Manager,
Chennai Gophers

P.S. Reply "unsubscribe" to this email, if you don't wish to receive more of such mails.
